body {
  background-color: #9c835f;
}

button:hover {
  background-color: #c4c4c4;
  border-radius: 20px;
}

button {
  background-color: #9c835f;
  border: none;
}

.content .container .img-game {
  width: 80px;
  height: 80px;
}

.content .container .col .row .col-md-6 .results-box {
  border-radius: 20px;
  transform: rotate(-15deg);
  visibility: hidden;
}

.content .container .active {
  background-color: #c4c4c4;
  border-radius: 20px;
}
